@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?v9cpqm') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?v9cpqm') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?v9cpqm##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.af-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fa-search {
  &:before {
    content: $icon-fa-search; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-remove {
  &:before {
    content: $icon-remove; 
  }
}
.icon-times {
  &:before {
    content: $icon-times; 
  }
}
.icon-chain {
  &:before {
    content: $icon-chain; 
  }
}
.icon-link {
  &:before {
    content: $icon-link; 
  }
}
.icon-external-link {
  &:before {
    content: $icon-external-link; 
  }
}
.icon-list-ul {
  &:before {
    content: $icon-list-ul; 
  }
}
.icon-fa-calendar {
  &:before {
    content: $icon-fa-calendar; 
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up; 
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down; 
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up; 
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down; 
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left; 
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right; 
  }
}
.icon-linkedin-square {
  &:before {
    content: $icon-linkedin-square; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-facebook-f {
  &:before {
    content: $icon-facebook-f; 
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin; 
  }
}
.icon-youtube-play {
  &:before {
    content: $icon-youtube-play; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-tumblr {
  &:before {
    content: $icon-tumblr; 
  }
}
.icon-apple {
  &:before {
    content: $icon-apple; 
  }
}
.icon-trash {
  &:before {
    content: $icon-trash; 
  }
}
.icon-trash-o {
  &:before {
    content: $icon-trash-o; 
  }
}
.icon-fa-shopping-cart {
  &:before {
    content: $icon-fa-shopping-cart; 
  }
}
.icon-skyscraper {
  &:before {
    content: $icon-skyscraper; 
  }
}
.icon-office-building {
  &:before {
    content: $icon-office-building; 
  }
}
.icon-hotel {
  &:before {
    content: $icon-hotel; 
  }
}
.icon-house-alt4 {
  &:before {
    content: $icon-house-alt4; 
  }
}
.icon-house-alt3 {
  &:before {
    content: $icon-house-alt3; 
  }
}
.icon-house-alt2 {
  &:before {
    content: $icon-house-alt2; 
  }
}
.icon-house-alt1 {
  &:before {
    content: $icon-house-alt1; 
  }
}
.icon-house {
  &:before {
    content: $icon-house; 
  }
}
.icon-loan {
  &:before {
    content: $icon-loan; 
  }
}
.icon-buy {
  &:before {
    content: $icon-buy; 
  }
}
.icon-sale {
  &:before {
    content: $icon-sale; 
  }
}
.icon-rent {
  &:before {
    content: $icon-rent; 
  }
}
.icon-growth {
  &:before {
    content: $icon-growth; 
  }
}
.icon-certification {
  &:before {
    content: $icon-certification; 
  }
}
.icon-check-list {
  &:before {
    content: $icon-check-list; 
  }
}
.icon-exchange-keys {
  &:before {
    content: $icon-exchange-keys; 
  }
}
.icon-exchange-house {
  &:before {
    content: $icon-exchange-house; 
  }
}
.icon-for-sale {
  &:before {
    content: $icon-for-sale; 
  }
}
.icon-mortgage {
  &:before {
    content: $icon-mortgage; 
  }
}
.icon-property {
  &:before {
    content: $icon-property; 
  }
}
.icon-podium {
  &:before {
    content: $icon-podium; 
  }
}
.icon-ticket {
  &:before {
    content: $icon-ticket; 
  }
}
.icon-dumbbell {
  &:before {
    content: $icon-dumbbell; 
  }
}
.icon-sport {
  &:before {
    content: $icon-sport; 
  }
}
.icon-football {
  &:before {
    content: $icon-football; 
  }
}
.icon-cup {
  &:before {
    content: $icon-cup; 
  }
}
.icon-trophy {
  &:before {
    content: $icon-trophy; 
  }
}
.icon-yoga {
  &:before {
    content: $icon-yoga; 
  }
}
.icon-badge {
  &:before {
    content: $icon-badge; 
  }
}
.icon-contacts {
  &:before {
    content: $icon-contacts; 
  }
}
.icon-for-rent {
  &:before {
    content: $icon-for-rent; 
  }
}
.icon-party-hat {
  &:before {
    content: $icon-party-hat; 
  }
}
.icon-paint-palette {
  &:before {
    content: $icon-paint-palette; 
  }
}
.icon-boss {
  &:before {
    content: $icon-boss; 
  }
}
.icon-whistle {
  &:before {
    content: $icon-whistle; 
  }
}
.icon-mortarboard {
  &:before {
    content: $icon-mortarboard; 
  }
}
.icon-puzzle {
  &:before {
    content: $icon-puzzle; 
  }
}
.icon-certificate {
  &:before {
    content: $icon-certificate; 
  }
}
.icon-theater {
  &:before {
    content: $icon-theater; 
  }
}
.icon-paint-brush {
  &:before {
    content: $icon-paint-brush; 
  }
}
.icon-microscope {
  &:before {
    content: $icon-microscope; 
  }
}
.icon-greenhouse {
  &:before {
    content: $icon-greenhouse; 
  }
}
.icon-gardening {
  &:before {
    content: $icon-gardening; 
  }
}
.icon-baseball {
  &:before {
    content: $icon-baseball; 
  }
}
.icon-pilates-ball {
  &:before {
    content: $icon-pilates-ball; 
  }
}
.icon-stars {
  &:before {
    content: $icon-stars; 
  }
}
.icon-tennis {
  &:before {
    content: $icon-tennis; 
  }
}
.icon-lotus-flower {
  &:before {
    content: $icon-lotus-flower; 
  }
}
.icon-family {
  &:before {
    content: $icon-family; 
  }
}
.icon-offer {
  &:before {
    content: $icon-offer; 
  }
}
.icon-aqauatics {
  &:before {
    content: $icon-aqauatics; 
  }
}
.icon-swimming {
  &:before {
    content: $icon-swimming; 
  }
}
.icon-swimming-pool {
  &:before {
    content: $icon-swimming-pool; 
  }
}
.icon-university {
  &:before {
    content: $icon-university; 
  }
}
.icon-lifeguard-chair {
  &:before {
    content: $icon-lifeguard-chair; 
  }
}
.icon-sneakers {
  &:before {
    content: $icon-sneakers; 
  }
}
.icon-team {
  &:before {
    content: $icon-team; 
  }
}
.icon-strength-training {
  &:before {
    content: $icon-strength-training; 
  }
}
.icon-lifebuoy {
  &:before {
    content: $icon-lifebuoy; 
  }
}
.icon-star-of-david {
  &:before {
    content: $icon-star-of-david; 
  }
}
.icon-exercise {
  &:before {
    content: $icon-exercise; 
  }
}
.icon-confetti {
  &:before {
    content: $icon-confetti; 
  }
}
.icon-fitness {
  &:before {
    content: $icon-fitness; 
  }
}
.icon-balloons {
  &:before {
    content: $icon-balloons; 
  }
}
.icon-basketball-hoop {
  &:before {
    content: $icon-basketball-hoop; 
  }
}
.icon-in-person {
  &:before {
    content: $icon-in-person; 
  }
}
.icon-baby-boy {
  &:before {
    content: $icon-baby-boy; 
  }
}
.icon-map-marked {
  &:before {
    content: $icon-map-marked; 
  }
}
.icon-abc-block {
  &:before {
    content: $icon-abc-block; 
  }
}
.icon-ruler {
  &:before {
    content: $icon-ruler; 
  }
}
.icon-brother {
  &:before {
    content: $icon-brother; 
  }
}
.icon-children {
  &:before {
    content: $icon-children; 
  }
}
.icon-grandfather {
  &:before {
    content: $icon-grandfather; 
  }
}
.icon-microphone {
  &:before {
    content: $icon-microphone; 
  }
}
.icon-color-palette {
  &:before {
    content: $icon-color-palette; 
  }
}
.icon-snowflake {
  &:before {
    content: $icon-snowflake; 
  }
}
.icon-sun {
  &:before {
    content: $icon-sun; 
  }
}
.icon-autumn {
  &:before {
    content: $icon-autumn; 
  }
}
.icon-flowers {
  &:before {
    content: $icon-flowers; 
  }
}
.icon-butterfly {
  &:before {
    content: $icon-butterfly; 
  }
}
.icon-24-hours-support {
  &:before {
    content: $icon-24-hours-support; 
  }
}
.icon-headphone {
  &:before {
    content: $icon-headphone; 
  }
}
.icon-settings {
  &:before {
    content: $icon-settings; 
  }
}
.icon-tools {
  &:before {
    content: $icon-tools; 
  }
}
.icon-customer-service {
  &:before {
    content: $icon-customer-service; 
  }
}
.icon-customer-support {
  &:before {
    content: $icon-customer-support; 
  }
}
.icon-like {
  &:before {
    content: $icon-like; 
  }
}
.icon-promotion {
  &:before {
    content: $icon-promotion; 
  }
}
.icon-telephone {
  &:before {
    content: $icon-telephone; 
  }
}
.icon-shield {
  &:before {
    content: $icon-shield; 
  }
}
.icon-alert {
  &:before {
    content: $icon-alert; 
  }
}
.icon-question {
  &:before {
    content: $icon-question; 
  }
}
.icon-bubble-chat {
  &:before {
    content: $icon-bubble-chat; 
  }
}
.icon-speech-bubble {
  &:before {
    content: $icon-speech-bubble; 
  }
}
.icon-faqs {
  &:before {
    content: $icon-faqs; 
  }
}
.icon-chat {
  &:before {
    content: $icon-chat; 
  }
}
.icon-conversation {
  &:before {
    content: $icon-conversation; 
  }
}
.icon-meeting {
  &:before {
    content: $icon-meeting; 
  }
}
.icon-round-table {
  &:before {
    content: $icon-round-table; 
  }
}
.icon-collaboration {
  &:before {
    content: $icon-collaboration; 
  }
}
.icon-business-meeting {
  &:before {
    content: $icon-business-meeting; 
  }
}
.icon-employee {
  &:before {
    content: $icon-employee; 
  }
}
.icon-deal {
  &:before {
    content: $icon-deal; 
  }
}
.icon-handshake {
  &:before {
    content: $icon-handshake; 
  }
}
.icon-membership {
  &:before {
    content: $icon-membership; 
  }
}
.icon-analysis {
  &:before {
    content: $icon-analysis; 
  }
}
.icon-clipboard {
  &:before {
    content: $icon-clipboard; 
  }
}
.icon-market-growth {
  &:before {
    content: $icon-market-growth; 
  }
}
.icon-proofreading {
  &:before {
    content: $icon-proofreading; 
  }
}
.icon-presentation {
  &:before {
    content: $icon-presentation; 
  }
}
.icon-fluctuation {
  &:before {
    content: $icon-fluctuation; 
  }
}
.icon-goal {
  &:before {
    content: $icon-goal; 
  }
}
.icon-analytics {
  &:before {
    content: $icon-analytics; 
  }
}
.icon-chart {
  &:before {
    content: $icon-chart; 
  }
}
.icon-analyze {
  &:before {
    content: $icon-analyze; 
  }
}
.icon-report {
  &:before {
    content: $icon-report; 
  }
}
.icon-stats {
  &:before {
    content: $icon-stats; 
  }
}
.icon-archive {
  &:before {
    content: $icon-archive; 
  }
}
.icon-idea {
  &:before {
    content: $icon-idea; 
  }
}
.icon-arrows {
  &:before {
    content: $icon-arrows; 
  }
}
.icon-coins {
  &:before {
    content: $icon-coins; 
  }
}
.icon-contract {
  &:before {
    content: $icon-contract; 
  }
}
.icon-document {
  &:before {
    content: $icon-document; 
  }
}
.icon-file {
  &:before {
    content: $icon-file; 
  }
}
.icon-newspaper {
  &:before {
    content: $icon-newspaper; 
  }
}
.icon-branding {
  &:before {
    content: $icon-branding; 
  }
}
.icon-degree {
  &:before {
    content: $icon-degree; 
  }
}
.icon-letter {
  &:before {
    content: $icon-letter; 
  }
}
.icon-briefcase {
  &:before {
    content: $icon-briefcase; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-clock {
  &:before {
    content: $icon-clock; 
  }
}
.icon-upload {
  &:before {
    content: $icon-upload; 
  }
}
.icon-download {
  &:before {
    content: $icon-download; 
  }
}
.icon-coronavirus {
  &:before {
    content: $icon-coronavirus; 
  }
}
.icon-donation {
  &:before {
    content: $icon-donation; 
  }
}
.icon-favorite {
  &:before {
    content: $icon-favorite; 
  }
}
.icon-green-energy {
  &:before {
    content: $icon-green-energy; 
  }
}
.icon-hand {
  &:before {
    content: $icon-hand; 
  }
}
.icon-heart {
  &:before {
    content: $icon-heart; 
  }
}
.icon-heart-hand {
  &:before {
    content: $icon-heart-hand; 
  }
}
.icon-house-key {
  &:before {
    content: $icon-house-key; 
  }
}
.icon-inauguration {
  &:before {
    content: $icon-inauguration; 
  }
}
.icon-lock {
  &:before {
    content: $icon-lock; 
  }
}
.icon-laptop {
  &:before {
    content: $icon-laptop; 
  }
}
.icon-monitor {
  &:before {
    content: $icon-monitor; 
  }
}
.icon-social-media {
  &:before {
    content: $icon-social-media; 
  }
}
.icon-media {
  &:before {
    content: $icon-media; 
  }
}
.icon-map {
  &:before {
    content: $icon-map; 
  }
}
.icon-network {
  &:before {
    content: $icon-network; 
  }
}
.icon-camera {
  &:before {
    content: $icon-camera; 
  }
}
.icon-map-marker {
  &:before {
    content: $icon-map-marker; 
  }
}
.icon-image {
  &:before {
    content: $icon-image; 
  }
}
.icon-relocation {
  &:before {
    content: $icon-relocation; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-send-mail {
  &:before {
    content: $icon-send-mail; 
  }
}
.icon-tshirt {
  &:before {
    content: $icon-tshirt; 
  }
}
.icon-store {
  &:before {
    content: $icon-store; 
  }
}
.icon-box {
  &:before {
    content: $icon-box; 
  }
}
.icon-delete {
  &:before {
    content: $icon-delete; 
  }
}
.icon-shopping-cart {
  &:before {
    content: $icon-shopping-cart; 
  }
}
.icon-shopping-basket {
  &:before {
    content: $icon-shopping-basket; 
  }
}
.icon-shipped {
  &:before {
    content: $icon-shipped; 
  }
}
.icon-sketch {
  &:before {
    content: $icon-sketch; 
  }
}
.icon-sustainability {
  &:before {
    content: $icon-sustainability; 
  }
}
.icon-travel {
  &:before {
    content: $icon-travel; 
  }
}
.icon-tv-screen {
  &:before {
    content: $icon-tv-screen; 
  }
}
.icon-podcast {
  &:before {
    content: $icon-podcast; 
  }
}
.icon-video-camera {
  &:before {
    content: $icon-video-camera; 
  }
}
.icon-clapperboard {
  &:before {
    content: $icon-clapperboard; 
  }
}
.icon-video {
  &:before {
    content: $icon-video; 
  }
}
.icon-smartphone {
  &:before {
    content: $icon-smartphone; 
  }
}
.icon-website {
  &:before {
    content: $icon-website; 
  }
}
.icon-world-grid {
  &:before {
    content: $icon-world-grid; 
  }
}
.icon-worldwide {
  &:before {
    content: $icon-worldwide; 
  }
}
.icon-star-alt {
  &:before {
    content: $icon-star-alt; 
  }
}
.icon-menu {
  &:before {
    content: $icon-menu; 
  }
}

