@font-face {
  font-family: 'Association-Icons';
  src:
    url('fonts/Association-Icons.ttf?v9cpqm') format('truetype'),
    url('fonts/Association-Icons.woff?v9cpqm') format('woff'),
    url('fonts/Association-Icons.svg?v9cpqm#Association-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.af-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Association-Icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fa-search:before {
  content: "\f002";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-chain:before {
  content: "\f0c1";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-fa-calendar:before {
  content: "\f073";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-arrow-up:before {
  content: "\f062";
}
.icon-arrow-down:before {
  content: "\f063";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-tumblr:before {
  content: "\f173";
}
.icon-apple:before {
  content: "\f179";
}
.icon-trash:before {
  content: "\f1f8";
}
.icon-trash-o:before {
  content: "\f014";
}
.icon-fa-shopping-cart:before {
  content: "\f07a";
}
.icon-skyscraper:before {
  content: "\e94e";
}
.icon-office-building:before {
  content: "\e95b";
}
.icon-hotel:before {
  content: "\e958";
}
.icon-house-alt4:before {
  content: "\e906";
}
.icon-house-alt3:before {
  content: "\e959";
}
.icon-house-alt2:before {
  content: "\e907";
}
.icon-house-alt1:before {
  content: "\e952";
}
.icon-house:before {
  content: "\e9c9";
}
.icon-loan:before {
  content: "\e95a";
}
.icon-buy:before {
  content: "\e94f";
}
.icon-sale:before {
  content: "\e95e";
}
.icon-rent:before {
  content: "\e95d";
}
.icon-growth:before {
  content: "\e919";
}
.icon-certification:before {
  content: "\e950";
}
.icon-check-list:before {
  content: "\e951";
}
.icon-exchange-keys:before {
  content: "\e953";
}
.icon-exchange-house:before {
  content: "\e954";
}
.icon-for-sale:before {
  content: "\e955";
}
.icon-mortgage:before {
  content: "\e91a";
}
.icon-property:before {
  content: "\e95c";
}
.icon-podium:before {
  content: "\e960";
}
.icon-ticket:before {
  content: "\e961";
}
.icon-dumbbell:before {
  content: "\e962";
}
.icon-sport:before {
  content: "\e963";
}
.icon-football:before {
  content: "\e964";
}
.icon-cup:before {
  content: "\e970";
}
.icon-trophy:before {
  content: "\e965";
}
.icon-yoga:before {
  content: "\e966";
}
.icon-badge:before {
  content: "\e967";
}
.icon-contacts:before {
  content: "\e969";
}
.icon-for-rent:before {
  content: "\e96a";
}
.icon-party-hat:before {
  content: "\e96b";
}
.icon-paint-palette:before {
  content: "\e96c";
}
.icon-boss:before {
  content: "\e96d";
}
.icon-whistle:before {
  content: "\e96e";
}
.icon-mortarboard:before {
  content: "\e96f";
}
.icon-puzzle:before {
  content: "\e971";
}
.icon-certificate:before {
  content: "\e972";
}
.icon-theater:before {
  content: "\e973";
}
.icon-paint-brush:before {
  content: "\e974";
}
.icon-microscope:before {
  content: "\e975";
}
.icon-greenhouse:before {
  content: "\e976";
}
.icon-gardening:before {
  content: "\e977";
}
.icon-baseball:before {
  content: "\e978";
}
.icon-pilates-ball:before {
  content: "\e900";
}
.icon-stars:before {
  content: "\e901";
}
.icon-tennis:before {
  content: "\e902";
}
.icon-lotus-flower:before {
  content: "\e908";
}
.icon-family:before {
  content: "\e909";
}
.icon-offer:before {
  content: "\e90b";
}
.icon-aqauatics:before {
  content: "\e90a";
}
.icon-swimming:before {
  content: "\e90c";
}
.icon-swimming-pool:before {
  content: "\e915";
}
.icon-university:before {
  content: "\e90d";
}
.icon-lifeguard-chair:before {
  content: "\e90e";
}
.icon-sneakers:before {
  content: "\e90f";
}
.icon-team:before {
  content: "\e910";
}
.icon-strength-training:before {
  content: "\e911";
}
.icon-lifebuoy:before {
  content: "\e912";
}
.icon-star-of-david:before {
  content: "\e913";
}
.icon-exercise:before {
  content: "\e914";
}
.icon-confetti:before {
  content: "\e916";
}
.icon-fitness:before {
  content: "\e917";
}
.icon-balloons:before {
  content: "\e918";
}
.icon-basketball-hoop:before {
  content: "\e91b";
}
.icon-in-person:before {
  content: "\e91c";
}
.icon-baby-boy:before {
  content: "\e91d";
}
.icon-map-marked:before {
  content: "\e91e";
}
.icon-abc-block:before {
  content: "\e91f";
}
.icon-ruler:before {
  content: "\e920";
}
.icon-brother:before {
  content: "\e921";
}
.icon-children:before {
  content: "\e922";
}
.icon-grandfather:before {
  content: "\e923";
}
.icon-microphone:before {
  content: "\e924";
}
.icon-color-palette:before {
  content: "\e925";
}
.icon-snowflake:before {
  content: "\e926";
}
.icon-sun:before {
  content: "\e927";
}
.icon-autumn:before {
  content: "\e928";
}
.icon-flowers:before {
  content: "\e930";
}
.icon-butterfly:before {
  content: "\e904";
}
.icon-24-hours-support:before {
  content: "\e9a1";
}
.icon-headphone:before {
  content: "\e98f";
}
.icon-settings:before {
  content: "\e9c6";
}
.icon-tools:before {
  content: "\e991";
}
.icon-customer-service:before {
  content: "\e990";
}
.icon-customer-support:before {
  content: "\e9a2";
}
.icon-like:before {
  content: "\e9bc";
}
.icon-promotion:before {
  content: "\e98c";
}
.icon-telephone:before {
  content: "\e9ba";
}
.icon-shield:before {
  content: "\e9bd";
}
.icon-alert:before {
  content: "\e9b3";
}
.icon-question:before {
  content: "\e9b2";
}
.icon-bubble-chat:before {
  content: "\e99f";
}
.icon-speech-bubble:before {
  content: "\e994";
}
.icon-faqs:before {
  content: "\e9a0";
}
.icon-chat:before {
  content: "\e9bb";
}
.icon-conversation:before {
  content: "\e982";
}
.icon-meeting:before {
  content: "\e93a";
}
.icon-round-table:before {
  content: "\e98d";
}
.icon-collaboration:before {
  content: "\e945";
}
.icon-business-meeting:before {
  content: "\e97e";
}
.icon-employee:before {
  content: "\e93c";
}
.icon-deal:before {
  content: "\e93d";
}
.icon-handshake:before {
  content: "\e938";
}
.icon-membership:before {
  content: "\e93b";
}
.icon-analysis:before {
  content: "\e934";
}
.icon-clipboard:before {
  content: "\e92d";
}
.icon-market-growth:before {
  content: "\e989";
}
.icon-proofreading:before {
  content: "\e933";
}
.icon-presentation:before {
  content: "\e93f";
}
.icon-fluctuation:before {
  content: "\e984";
}
.icon-goal:before {
  content: "\e943";
}
.icon-analytics:before {
  content: "\e942";
}
.icon-chart:before {
  content: "\e9a5";
}
.icon-analyze:before {
  content: "\e946";
}
.icon-report:before {
  content: "\e9a7";
}
.icon-stats:before {
  content: "\e940";
}
.icon-archive:before {
  content: "\e94b";
}
.icon-idea:before {
  content: "\e94d";
}
.icon-arrows:before {
  content: "\e947";
}
.icon-coins:before {
  content: "\e939";
}
.icon-contract:before {
  content: "\e9c3";
}
.icon-document:before {
  content: "\e932";
}
.icon-file:before {
  content: "\e931";
}
.icon-newspaper:before {
  content: "\e98a";
}
.icon-branding:before {
  content: "\e985";
}
.icon-degree:before {
  content: "\e9a4";
}
.icon-letter:before {
  content: "\e9c5";
}
.icon-briefcase:before {
  content: "\e97d";
}
.icon-calendar:before {
  content: "\e92c";
}
.icon-clock:before {
  content: "\e999";
}
.icon-upload:before {
  content: "\e995";
}
.icon-download:before {
  content: "\e996";
}
.icon-coronavirus:before {
  content: "\e981";
}
.icon-donation:before {
  content: "\e97f";
}
.icon-favorite:before {
  content: "\e9a8";
}
.icon-green-energy:before {
  content: "\e980";
}
.icon-hand:before {
  content: "\e9a3";
}
.icon-heart:before {
  content: "\e9c0";
}
.icon-heart-hand:before {
  content: "\e98b";
}
.icon-house-key:before {
  content: "\e92f";
}
.icon-inauguration:before {
  content: "\e98e";
}
.icon-lock:before {
  content: "\e99c";
}
.icon-laptop:before {
  content: "\e99b";
}
.icon-monitor:before {
  content: "\e94a";
}
.icon-social-media:before {
  content: "\e9bf";
}
.icon-media:before {
  content: "\e9c7";
}
.icon-map:before {
  content: "\e998";
}
.icon-network:before {
  content: "\e9c2";
}
.icon-camera:before {
  content: "\e99a";
}
.icon-map-marker:before {
  content: "\e9b8";
}
.icon-image:before {
  content: "\e9b0";
}
.icon-relocation:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e92e";
}
.icon-send-mail:before {
  content: "\e9b9";
}
.icon-tshirt:before {
  content: "\e92b";
}
.icon-store:before {
  content: "\e99d";
}
.icon-box:before {
  content: "\e986";
}
.icon-delete:before {
  content: "\e979";
}
.icon-shopping-cart:before {
  content: "\e9c4";
}
.icon-shopping-basket:before {
  content: "\e9be";
}
.icon-shipped:before {
  content: "\e987";
}
.icon-sketch:before {
  content: "\e983";
}
.icon-sustainability:before {
  content: "\e937";
}
.icon-travel:before {
  content: "\e948";
}
.icon-tv-screen:before {
  content: "\e988";
}
.icon-podcast:before {
  content: "\e997";
}
.icon-video-camera:before {
  content: "\e9c8";
}
.icon-clapperboard:before {
  content: "\e992";
}
.icon-video:before {
  content: "\e993";
}
.icon-smartphone:before {
  content: "\e936";
}
.icon-website:before {
  content: "\e935";
}
.icon-world-grid:before {
  content: "\e9b6";
}
.icon-worldwide:before {
  content: "\e944";
}
.icon-star-alt:before {
  content: "\e9c1";
}
.icon-menu:before {
  content: "\e9b7";
}
