$icomoon-font-family: "Association-Icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-fa-search: "\f002";
$icon-close: "\f00d";
$icon-remove: "\f00d";
$icon-times: "\f00d";
$icon-chain: "\f0c1";
$icon-link: "\f0c1";
$icon-external-link: "\f08e";
$icon-list-ul: "\f0ca";
$icon-fa-calendar: "\f073";
$icon-arrow-left: "\f060";
$icon-arrow-right: "\f061";
$icon-arrow-up: "\f062";
$icon-arrow-down: "\f063";
$icon-chevron-up: "\f077";
$icon-chevron-down: "\f078";
$icon-chevron-left: "\f053";
$icon-chevron-right: "\f054";
$icon-linkedin-square: "\f08c";
$icon-facebook: "\f09a";
$icon-facebook-f: "\f09a";
$icon-linkedin: "\f0e1";
$icon-youtube-play: "\f16a";
$icon-instagram: "\f16d";
$icon-tumblr: "\f173";
$icon-apple: "\f179";
$icon-trash: "\f1f8";
$icon-trash-o: "\f014";
$icon-fa-shopping-cart: "\f07a";
$icon-skyscraper: "\e94e";
$icon-office-building: "\e95b";
$icon-hotel: "\e958";
$icon-house-alt4: "\e906";
$icon-house-alt3: "\e959";
$icon-house-alt2: "\e907";
$icon-house-alt1: "\e952";
$icon-house: "\e9c9";
$icon-loan: "\e95a";
$icon-buy: "\e94f";
$icon-sale: "\e95e";
$icon-rent: "\e95d";
$icon-growth: "\e919";
$icon-certification: "\e950";
$icon-check-list: "\e951";
$icon-exchange-keys: "\e953";
$icon-exchange-house: "\e954";
$icon-for-sale: "\e955";
$icon-mortgage: "\e91a";
$icon-property: "\e95c";
$icon-podium: "\e960";
$icon-ticket: "\e961";
$icon-dumbbell: "\e962";
$icon-sport: "\e963";
$icon-football: "\e964";
$icon-cup: "\e970";
$icon-trophy: "\e965";
$icon-yoga: "\e966";
$icon-badge: "\e967";
$icon-contacts: "\e969";
$icon-for-rent: "\e96a";
$icon-party-hat: "\e96b";
$icon-paint-palette: "\e96c";
$icon-boss: "\e96d";
$icon-whistle: "\e96e";
$icon-mortarboard: "\e96f";
$icon-puzzle: "\e971";
$icon-certificate: "\e972";
$icon-theater: "\e973";
$icon-paint-brush: "\e974";
$icon-microscope: "\e975";
$icon-greenhouse: "\e976";
$icon-gardening: "\e977";
$icon-baseball: "\e978";
$icon-pilates-ball: "\e900";
$icon-stars: "\e901";
$icon-tennis: "\e902";
$icon-lotus-flower: "\e908";
$icon-family: "\e909";
$icon-offer: "\e90b";
$icon-aqauatics: "\e90a";
$icon-swimming: "\e90c";
$icon-swimming-pool: "\e915";
$icon-university: "\e90d";
$icon-lifeguard-chair: "\e90e";
$icon-sneakers: "\e90f";
$icon-team: "\e910";
$icon-strength-training: "\e911";
$icon-lifebuoy: "\e912";
$icon-star-of-david: "\e913";
$icon-exercise: "\e914";
$icon-confetti: "\e916";
$icon-fitness: "\e917";
$icon-balloons: "\e918";
$icon-basketball-hoop: "\e91b";
$icon-in-person: "\e91c";
$icon-baby-boy: "\e91d";
$icon-map-marked: "\e91e";
$icon-abc-block: "\e91f";
$icon-ruler: "\e920";
$icon-brother: "\e921";
$icon-children: "\e922";
$icon-grandfather: "\e923";
$icon-microphone: "\e924";
$icon-color-palette: "\e925";
$icon-snowflake: "\e926";
$icon-sun: "\e927";
$icon-autumn: "\e928";
$icon-flowers: "\e930";
$icon-butterfly: "\e904";
$icon-24-hours-support: "\e9a1";
$icon-headphone: "\e98f";
$icon-settings: "\e9c6";
$icon-tools: "\e991";
$icon-customer-service: "\e990";
$icon-customer-support: "\e9a2";
$icon-like: "\e9bc";
$icon-promotion: "\e98c";
$icon-telephone: "\e9ba";
$icon-shield: "\e9bd";
$icon-alert: "\e9b3";
$icon-question: "\e9b2";
$icon-bubble-chat: "\e99f";
$icon-speech-bubble: "\e994";
$icon-faqs: "\e9a0";
$icon-chat: "\e9bb";
$icon-conversation: "\e982";
$icon-meeting: "\e93a";
$icon-round-table: "\e98d";
$icon-collaboration: "\e945";
$icon-business-meeting: "\e97e";
$icon-employee: "\e93c";
$icon-deal: "\e93d";
$icon-handshake: "\e938";
$icon-membership: "\e93b";
$icon-analysis: "\e934";
$icon-clipboard: "\e92d";
$icon-market-growth: "\e989";
$icon-proofreading: "\e933";
$icon-presentation: "\e93f";
$icon-fluctuation: "\e984";
$icon-goal: "\e943";
$icon-analytics: "\e942";
$icon-chart: "\e9a5";
$icon-analyze: "\e946";
$icon-report: "\e9a7";
$icon-stats: "\e940";
$icon-archive: "\e94b";
$icon-idea: "\e94d";
$icon-arrows: "\e947";
$icon-coins: "\e939";
$icon-contract: "\e9c3";
$icon-document: "\e932";
$icon-file: "\e931";
$icon-newspaper: "\e98a";
$icon-branding: "\e985";
$icon-degree: "\e9a4";
$icon-letter: "\e9c5";
$icon-briefcase: "\e97d";
$icon-calendar: "\e92c";
$icon-clock: "\e999";
$icon-upload: "\e995";
$icon-download: "\e996";
$icon-coronavirus: "\e981";
$icon-donation: "\e97f";
$icon-favorite: "\e9a8";
$icon-green-energy: "\e980";
$icon-hand: "\e9a3";
$icon-heart: "\e9c0";
$icon-heart-hand: "\e98b";
$icon-house-key: "\e92f";
$icon-inauguration: "\e98e";
$icon-lock: "\e99c";
$icon-laptop: "\e99b";
$icon-monitor: "\e94a";
$icon-social-media: "\e9bf";
$icon-media: "\e9c7";
$icon-map: "\e998";
$icon-network: "\e9c2";
$icon-camera: "\e99a";
$icon-map-marker: "\e9b8";
$icon-image: "\e9b0";
$icon-relocation: "\e903";
$icon-search: "\e92e";
$icon-send-mail: "\e9b9";
$icon-tshirt: "\e92b";
$icon-store: "\e99d";
$icon-box: "\e986";
$icon-delete: "\e979";
$icon-shopping-cart: "\e9c4";
$icon-shopping-basket: "\e9be";
$icon-shipped: "\e987";
$icon-sketch: "\e983";
$icon-sustainability: "\e937";
$icon-travel: "\e948";
$icon-tv-screen: "\e988";
$icon-podcast: "\e997";
$icon-video-camera: "\e9c8";
$icon-clapperboard: "\e992";
$icon-video: "\e993";
$icon-smartphone: "\e936";
$icon-website: "\e935";
$icon-world-grid: "\e9b6";
$icon-worldwide: "\e944";
$icon-star-alt: "\e9c1";
$icon-menu: "\e9b7";

