<a class="cell quicklink quicklink--has-image">
    {{#if image}}<div class="quicklink-image quicklink-image--has-overlay theme-{{theme}}" style="background-image:url('{{image}}');"></div>{{/if}}
    <div class="quicklink-content">
        {{#if icon}}
        <div class="quicklink-icon"><i class="{{icon}}"></i></div>
        {{/if}}
        <h3 class="quicklink-title">{{title}}</h3>
        {{#if blurb}}
        <p class="quicklink-desc">{{blurb}}</p>
        {{/if}}
        {{#if more-text}}
        <span class="quicklink-action button">
                {{more-text}}
        </span>
        {{/if}}
    </div>
</a>