<div class="enewsWrapper">
    <h3 class="">Email Signup</h3>
    <p>Stay up to date on everything happening.</p>
    <form action="index.php" method="GET" _lpchecked="1">
        <div><input type="hidden" name="src" value="forms"><input name="ref" type="hidden" value="Email Sign-Up"></div>
        <div class="input-group">
            <input class="input-group-field" type="email" name="formField_Email" placeholder="Email ">
            <div class="input-group-button">
                <button type="submit" class="button secondary"> <span class="show-for-sr">Submit Form</span>
                    <span aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
                </button>
            </div>
        </div>

    </form>
</div>