<section class="content multiColumn ">
    <div class="grid-container">
        <div class="moduleHeader">
            <h2>Multi Column Content</h2>
        </div>
        <div class="editorContent grid-x grid-padding-x grid-padding-y">
            <div class="columnContent1 cell medium-6 large-4">
                <h4>Column Content</h4>
                <p>Up to 3 columns in a variety of sizes and content. <br>
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin velit in quam dignissim venenatis. Ut faucibus nunc nisi, imperdiet ultricies augue porta sed. Vivamus
                   dictum gravida nibh, ac malesuada nibh ornare ac. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
            <div class="columnContent2 cell medium-6 large-4">
                <h4>Column Content</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin velit in quam dignissim venenatis. Ut faucibus nunc nisi, imperdiet ultricies augue porta sed. Vivamus
                   dictum gravida nibh, ac malesuada nibh ornare ac. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
            <div class="columnContent3 cell medium-12 large-4">
                <h4>Column Content</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin velit in quam dignissim venenatis. Ut faucibus nunc nisi, imperdiet ultricies augue porta sed. Vivamus
                   dictum gravida nibh, ac malesuada nibh ornare ac. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
        </div>
    </div>
</section>