<section class="content multiColumn {{extra_classes}}">
    <div class="grid-container">
        <div class="moduleHeader">
            <h2>Multi Column Content</h2>

        </div>
        <div class="editorContent grid-x grid-padding-x grid-padding-y">
            <div class="columnContent cell medium-6 ">
                <h3>Column Content</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin velit in quam dignissim venenatis. Ut faucibus nunc nisi, imperdiet ultricies augue porta sed. Vivamus
                   dictum gravida nibh, ac malesuada nibh ornare ac. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                <p><a href="#" class="button">Button</a></p>
            </div>
            <div class="columnContent cell medium-6 ">
                <h3>Column Content</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin velit in quam dignissim venenatis. Ut faucibus nunc nisi, imperdiet ultricies augue porta sed. Vivamus
                   dictum gravida nibh, ac malesuada nibh ornare ac. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                <p><a href="#" class="button">Button</a></p>
            </div>

        </div>
    </div>
</section>