
<section class="quickStats-component pad-top-medium pad-bottom-medium">
    <div class="grid-container">
        <header data-aos="fade-up" class="moduleHeader grid-x align-justify align-middle">
            <h2>Quick Statistics</h2>
            <div><a href="interior.html" class="button secondary">All Statistics</a></div>
        </header>
        <div class="grid-x medium-up-2 large-up-4">
            <div class="cell quickStat">
                <figure>
                    <div class="statIcon">
                        <i class="icon icon-buy"></i>
                    </div>
                    <div class="stat">
                        <span class="prefix">$</span><span class="number">1,346</span><span class="suffix"></span>
                    </div>
                    <figcaption>
                        <div class="statTitle">Total Home Sales</div>
                        <p class="statComparison">Last Year: 2,544</p>
                    </figcaption>
                </figure>
            </div>
            <div class="cell quickStat">
                <figure>
                    <div class="statIcon">
                        <i class="icon icon-contract"></i>
                    </div>
                    <div class="stat">
                        <span class="prefix"></span><span class="number">2,346</span><span class="suffix"></span>
                    </div>
                    <figcaption>
                        <div class="statTitle">Total Inventory</div>
                        <p class="statComparison">Last Year: 1,987</p>
                    </figcaption>
                </figure>
            </div>
            <div class="cell quickStat">
                <figure>
                    <div class="statIcon">
                        <i class="icon icon-sale"></i>
                    </div>
                    <div class="stat">
                        <span class="prefix">$</span><span class="number">140</span><span class="suffix">K</span>
                    </div>
                    <figcaption>
                        <div class="statTitle">Median Sales Price</div>
                        <p class="statComparison">Last Year: $160K</p>
                    </figcaption>
                </figure>
            </div>
            <div class="cell quickStat">
                <figure>
                    <div class="statIcon">
                        <i class="icon icon-house-key"></i>
                    </div>
                    <div class="stat">
                        <span class="prefix">$</span><span class="number">1.248</span><span class="suffix">M</span>
                    </div>
                    <figcaption>
                        <div class="statTitle">Monthly Sales Volume</div>
                        <p class="statComparison">Last Year: $1.05M</p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>