<!-- Pre Master Theme Single Column CTA Component-->
<section class="ctaComponent dark ctaComponent--image" style="background-image: url('assets/img/interior_header.jpg')">
    <div class="overlayBG"></div>
    <div class="grid-container">
        <header data-aos="fade-up" class="ctaHeader">
            <div class="eyebrow">CTA Image Style</div>
            <h2 class="h1 ctaTitle">Large CTA Title</h2>
        </header>
        <div class="ctaContent">
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin velit in quam dignissim venenatis. Ut faucibus nunc nisi, imperdiet ultricies augue porta sed. Vivamus dictum gravida nibh, ac malesuada nibh ornare ac. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            <p><a href="index.html" class="button large">Read More</a></p>
        </div>
    </div>
</section>
<section class="ctaComponent themeDark">
    <div class="grid-container">
        <header data-aos="fade-up" class="ctaHeader">
            <div class="eyebrow">CTA Dark</div>
            <h2 class="h1 ctaTitle">Large CTA Title</h2>
        </header>
        <div class="ctaContent">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin velit in quam dignissim venenatis. Ut faucibus nunc nisi, imperdiet ultricies augue porta sed. Vivamus dictum gravida nibh, ac malesuada nibh ornare ac. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            <p><a href="index.html" class="button">Read More</a></p>
        </div>
    </div>
</section>
<section class="ctaComponent">
    <div class="grid-container">
        <header data-aos="fade-up" class="ctaHeader">
            <div class="eyebrow">CTA Light</div>
            <h2 class="h1 ctaTitle">Get Their Attention</h2>
        </header>
        <div class="ctaContent">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin velit in quam dignissim venenatis. Ut faucibus nunc nisi, imperdiet ultricies augue porta sed. Vivamus dictum gravida nibh, ac malesuada nibh ornare ac. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            <p><a href="index.html" class="button">Read More</a></p>
        </div>
    </div>
</section>