<section class="slideshow">
  <div class="grid-x">
    <div class="cell medium-9">
      <div class="grid-x slides slideshow-hero-flickity">

        <div class="slide theme-sky" data-slide="0" data-theme="theme-sky" data-slide-image="{{root}}assets/img/rets/house1_large.jpg">
          <div class="slide-overlay overlay-theme-sky"></div>
          <img class="slideBackground" src="{{root}}assets/img/rets/house1_large.jpg"/>

          <div class="grid-container slideInner align-center">
            <div class="slideContent">
              <h2 class="slideTitle h1">Slide Index 0</h2>
              <p class="lead slideDesc">Lorem ipsum dolor sit amet, adipiscing elit. Nulla id diam quis lorem mattis fermentum vel vel nisl. Maecenas vestibulum scelerisque velit, ut mollis felis. Vivamus</p>

              <div class="slideAction">   <button class="button secondary" data-open="slideshowAlert"><i class="fa fa-bell"></i> Open Alerts</button>
                <a href="interior.html" class="button">Read More</a></div>
            </div>
          </div>
        </div>

        <div class="slide theme-poppy" data-slide="1" data-theme="theme-poppy" data-slide-image="{{root}}assets/img/rets/house1_large.jpg">
          <div class="slide-overlay overlay-theme-sky"></div>
          <img class="slideBackground" src="{{root}}assets/img/rets/house1_large.jpg"/>

          <div class="grid-container slideInner align-center">
            <div class="slideContent">
              <h2 class="slideTitle h1">Slide Index 1</h2>
              <p class="lead slideDesc">Lorem ipsum dolor sit amet, adipiscing elit. Nulla id diam quis lorem mattis fermentum vel vel nisl. Maecenas vestibulum scelerisque velit, ut mollis felis. Vivamus</p>

              <div class="slideAction">   <button class="button secondary" data-open="slideshowAlert"><i class="fa fa-bell"></i> Open Alerts</button>
                <a href="interior.html" class="button">Read More</a></div>
            </div>
          </div>
        </div>

        <div class="slide theme-gold" data-slide="2" data-theme="theme-gold" data-slide-image="{{root}}assets/img/rets/house1_large.jpg">
          <div class="slide-overlay overlay-theme-sky"></div>
          <img class="slideBackground" src="{{root}}assets/img/rets/house1_large.jpg"/>

          <div class="grid-container slideInner align-center">
            <div class="slideContent">
              <h2 class="slideTitle h1">Slide Index 2</h2>
              <p class="lead slideDesc">Lorem ipsum dolor sit amet, adipiscing elit. Nulla id diam quis lorem mattis fermentum vel vel nisl. Maecenas vestibulum scelerisque velit, ut mollis felis. Vivamus</p>

              <div class="slideAction">   <button class="button secondary" data-open="slideshowAlert"><i class="fa fa-bell"></i> Open Alerts</button>
                <a href="interior.html" class="button">Read More</a></div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="cell medium-3 slideshow-navigation">
      <div class="slideshow-navigation-container">
        <button data-slide="0" class="slideNavButton theme-sky active">
          <div class="activeSlideArrow"></div>
          <div class="image theme-sky" style="background-image:url('{{root}}assets/img/rets/house1_large.jpg');"></div>
          <div class="text"></div>
        </button>
        <button data-slide="1" class="slideNavButton theme-poppy">
          <div class="activeSlideArrow"></div>
          <div class="image theme-poppy" style="background-image:url('{{root}}assets/img/rets/house1_large.jpg');"></div>
          <div class="text"></div>
        </button>
        <button data-slide="2" class="slideNavButton theme-gold">
          <div class="activeSlideArrow"></div>
          <div class="image theme-gold" style="background-image:url('{{root}}assets/img/rets/house1_large.jpg');"></div>
          <div class="text"></div>
        </button>
      </div>
    </div>
  </div>
</section>
<script>
  $(function() {
    homepageSlideshow();
  })
</script>