<section class="slideshow">

    <div class="grid-x slides slideshow-hero-flickity">

        <div class="slide">
            <img class="slideBackground" src="{{root}}assets/img/rets/house1_large.jpg" />

            <div class="grid-container slideInner align-center">
                <div class="slideContent">
                    <h2 class="slideTitle h1">This awesome website</h2>
                    <p class="lead slideDesc">Lorem ipsum dolor sit amet, adipiscing elit. Nulla id diam quis lorem
                        mattis fermentum vel vel nisl. Maecenas vestibulum scelerisque velit, ut mollis felis. Vivamus
                    </p>

                    <div class="slideAction"> <button class="button secondary" data-open="slideshowAlert"><i
                                class="fa fa-bell"></i> Open Alerts</button>
                        <a href="interior.html" class="button">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        <div data-slide-index="1" class="slide has-video has-video-vimeo no-gradient">
            <div class="vimeo-video-container" id="vimeoVideo217" data-video-id="43652787"></div>
            <div class="slideInner grid-container align-center">
                <div class="slideContent">
                    <h2 class="slideTitle h1">This awesome website</h2>
                    <p class="lead slideDesc">Lorem ipsum dolor sit amet, adipiscing elit. Nulla id diam quis lorem
                        mattis fermentum vel vel nisl. Maecenas vestibulum scelerisque velit, ut mollis felis. Vivamus
                    </p>
                    <div class="slideAction">
                    </div>
                </div>
            </div>
        </div>

        <div class="slide has-video has-video-youtube">
            <!--<img class="slideBackground" src="{{root}}assets/img/rets/house1_large.jpg"/>-->
            <div class="mobileVideoSlideImage"><img src="{{root}}assets/img/rets/house1_large.jpg"
                    class="slideBackground" /></div>
            <iframe class="slideBackground youTubePlayer" id="ytPlayer1" data-youtube-id="LXb3EKWsInQ"
                src="https://www.youtube.com/embed/LXb3EKWsInQ?ecver=2&controls=0&mute=1&autoplay=true&loop=1&playlist=LXb3EKWsInQ&rel=0&enablejsapi=1"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>-->
            <div class="grid-container slideInner align-center">
                <div class="slideContent">
                    <h2 class="slideTitle h1">This awesome website</h2>
                    <p class="lead slideDesc">Lorem ipsum dolor sit amet, adipiscing elit. Nulla id diam quis lorem
                        mattis fermentum vel vel nisl. Maecenas vestibulum scelerisque velit, ut mollis felis. Vivamus
                    </p>

                    <div class="slideAction"> <button class="button secondary" data-open="slideshowAlert"><i
                                class="fa fa-bell"></i> Open Alerts</button>
                        <a href="interior.html" class="button">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="slide has-video has-video-local">
            <video id="localVideo1" class="slideBackground localVideoPlayer" autoplay="" muted="" loop="" controls="">
                <source src="assets/2019_Homepage_Hero_-_YouTube.mp4">
            </video>
            <div class="grid-container slideInner align-center">
                <div class="slideContent">
                    <h2 class="slideTitle h1">Slide - Text Right</h2>
                    <p class="slideDesc lead">Lorem ipsum dolor sit amet, adipiscing elit. Nulla id diam quis lorem
                        mattis fermentum vel vel nisl. Maecenas vestibulum scelerisque velit, ut mollis felis. Vivamus
                    </p>
                    <div class="slideAction"><a href="interior.html" class="button ">Read More</a> <a
                            href="interior.html" class="button secondary">Button 2</a></div>

                </div>
            </div>
        </div>

    </div>

</section>