<section class="content splitContent-component splitContent-component--dual-media pad-y-medium">
  <div class="theme-light-sky">
    <div class="grid-container wide">
      <div class="editorContent grid-x grid-padding-x grid-padding-y splitContent">
        <div class="columnContent cell large-5 splitContent-text">
          <div class="eyebrow text-center">Image</div>
          <h2 class="text-center">Split Text and Media</h2>
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin velit in quam dignissim
            venenatis. Ut faucibus nunc nisi, imperdiet ultricies augue porta sed. Vivamus dictum gravida
            nibh, ac malesuada nibh ornare ac. Interdum et malesuada fames ac ante ipsum primis in
            faucibus.</p>
          <p class="text-center"><a href="#" class="button">Learn More</a></p>
        </div>
        <div class="columnContent cell large-7 splitContent-media">
          <div class="columnMedia columnMedia--left">
            <img src="https://picsum.photos/400/250">
            <img src="https://picsum.photos/400/250">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>