
<div class="splitContent-column
 splitContent-{{position}} {{classes}} {{#if image}}has-image{{/if}}" {{#if image}}style="background-image: url('{{root}}{{image}}')"{{/if}}">
    <div class="splitContent-columnInner ">
        <!-- content here can be anything - built as editor -->
        <h2 class="h1"><span class="hollow-text">{{lorem count='2' units='words'}}</span>
            {{lorem count='1' units='words'}}</h2>
        <p>{{lorem count='1' units='paragraph'}}</p>
        <p><a href="#" class="button ">Learn More</a></p>
    </div>
</div>