<section class="content splitContent-component pad-y-medium">
    <div class="grid-container">

        <div class="editorContent grid-x grid-padding-x grid-padding-y splitContent">
            <div class="columnContent cell large-6 splitContent-text">
                <div class="eyebrow">Image</div>
                <h2>Split Text and Media</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin velit in quam dignissim
                   venenatis. Ut faucibus nunc nisi, imperdiet ultricies augue porta sed. Vivamus dictum gravida
                   nibh, ac malesuada nibh ornare ac. Interdum et malesuada fames ac ante ipsum primis in
                   faucibus.</p>
            </div>
            <div class="columnContent cell large-6 splitContent-media">
                <div class="columnMedia columnMedia--right">
                    <img src="https://picsum.photos/800/500">
                </div>
            </div>

        </div>
        <div class="editorContent grid-x grid-padding-x grid-padding-y reversed splitContent">
            <div class="columnContent cell large-6 splitContent-text">
                <div class="eyebrow">Video</div>
                <h2>Split Text and Media</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin velit in quam dignissim
                   venenatis. Ut faucibus nunc nisi, imperdiet ultricies augue porta sed. Vivamus dictum gravida
                   nibh, ac malesuada nibh ornare ac. Interdum et malesuada fames ac ante ipsum primis in
                   faucibus.</p>
            </div>
            <div class="columnContent cell large-6 splitContent-media">
                <div class="responsive-embed widescreen columnMedia columnMedia--left">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/T06tdvhk38M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </div>
            </div>

        </div>
    </div>
</section>