<section class="content splitContent-component grid-x pad-y-none">
    <div class="splitContent-column  splitContent-left theme-dark">
        <div class="splitContent-columnInner ">
            <h2 class="h1"><span class="hollow-text">Resources for</span> Consumers</h2>
            <p>{{lorem count='1' units='paragraph'}}</p>
            <p><a href="#" class="button ">Learn More</a></p>
        </div>
    </div>

    <div class="splitContent-column splitContent-right theme-secondary">
        <div class="splitContent-columnInner ">
            <h2 class="h1"><span class="hollow-text">Resources for</span> REALTORS&reg;</h2>
            <p>{{lorem count='1' units='paragraph'}}</p>
            <p><a href="#" class="button ">Learn More</a></p>
        </div>
    </div>
</section>
