<section class="partnersComponent themeDark hasSvg--bottom">
    <div class="grid-container">

        <div class="grid-x align-middle">
            <div class="cell large-2 pad-y-small"><h2>Sponsors</h2></div>
            <div class="cell large-10">
                <div class="partners grid-x small-up-2 medium-up-3 large-up-4 carousel-wrapper" data-flickity='{"cellAlign":"left"}'>
                    {{#repeat 6}}
                    <div class="partner carousel-cell">
                        <div class="partnerImage" style="background-image:url('https://via.placeholder.com/175x70?text=Sample%20Sponsor')"></div>
                    </div>
                    <div class="partner carousel-cell">
                        <div class="partnerImage" style="background-image:url('https://via.placeholder.com/175x170?text=Sample%20Sponsor')"></div>
                    </div>
                    {{/repeat}}
                </div>

            </div>
        </div>

    </div>
    <div class="svgDivider padded-none" style="color:white">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 1920 90">
            <path d="M 0 90 L 0 60 L 450 0 L 1920 45 L 1920 90 Z" fill="currentColor" fill-rule="evenodd"></path>
        </svg>
    </div>
</section>