<section class="cta-component cta-component--image {{theme-class}} pad-top-medium pad-bottom-medium" style="background-image: url('https://picsum.photos/1400/300')">
    <div class="grid-container">
        <div class="text-center">
            <div class=""><h3>{{title}}</h3>
                <p class="h5">{{lorem count='11' units='words'}}</p>
            </div>
            <div class="">
                <a href="#" class="button {{button-class}}">Button</a>
            </div>
        </div>

    </div>
</section>