<section class="content pad-y-medium">
    <div class="grid-container">
        <ul class="tabs" data-tabs id="example-tabs">
            <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">
                <strong>Tab One</strong><br><span>Lorem ipsum dolor sit amet</span>
            </a></li>
            <li class="tabs-title"><a href="#panel2"><strong>Tab Two</strong><br><span>Lorem ipsum dolor sit amet</span></a></li>
            <li class="tabs-title"><a href="#panel3"><strong>Tab Three</strong><br><span>Lorem ipsum dolor sit amet</span></a></li>
            <li class="tabs-title"><a href="#panel4"><strong>Tab Four</strong><br><span>Lorem ipsum dolor sit amet</span></a></li>
        </ul>
        <div class="tabs-content themeMedium" data-tabs-content="example-tabs">
            <div class="tabs-panel is-active" id="panel1">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Linked text styling, sed feugiat est.
                   Phasellus quis ultricies diam, quis commodo lorem. Phasellus quis condimentum justo. Nam tempus ullamcorper mauris.
                   Nullam ultricies, nisi vitae gravida pharetra, eros orci eleifend tellus, eu ornare diam nunc porttitor erat. Nulla facilisi.
                   Mauris sed aliquet ex. Suspendisse potenti. Nullam nec convallis justo. Praesent dictum eros id diam laoreet lacinia.
                   Vestibulum at felis metus. Suspendisse non nulla imperdiet, tempor ipsum vitae, vulputate nulla. Etiam nec nunc nec sapien sollicitudin finibus sit amet vel lorem.
                   Donec ultricies, eros imperdiet dapibus iaculis, felis tortor mollis neque, vel blandit erat tortor eget arcu. Mauris mollis sem vel mi pellentesque venenatis. Integer pharetra
                   viverra nibh, vitae scelerisque mauris aliquet sit amet. Curabitur vel ullamcorper est, at dignissim ipsum. Aenean semper convallis nisl, nec faucibus enim aliquet sit amet.
                   Morbi quis sem et tellus pulvinar imperdiet sed nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non
                   venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
            </div>
            <div class="tabs-panel" id="panel2">
                <p>Lorem ipsum dolor sit amet, nisi vitae gravida pharetra, consectetur adipiscing elit. Linked text styling, sed feugiat est.
                   Phasellus quis ultricies diam, quis commodo lorem. Phasellus quis condimentum justo. Nam tempus ullamcorper mauris.
                   Nullam ultricies, eros orci eleifend tellus, eu ornare diam nunc porttitor erat. Nulla facilisi.
                   Mauris sed aliquet ex. Suspendisse potenti. Nullam nec convallis justo. Praesent dictum eros id diam laoreet lacinia.
                   Vestibulum at felis metus. Suspendisse non nulla imperdiet, tempor ipsum vitae, vulputate nulla. </p>
                <p>Etiam nec nunc nec sapien sollicitudin finibus sit amet vel lorem.
                   Donec ultricies, eros imperdiet dapibus iaculis, felis tortor mollis neque, vel blandit erat tortor eget arcu. Mauris mollis sem vel mi pellentesque venenatis. Integer pharetra
                   viverra nibh, vitae scelerisque mauris aliquet sit amet. Curabitur vel ullamcorper est, at dignissim ipsum. Aenean semper convallis nisl, nec faucibus enim aliquet sit amet.
                   Morbi quis sem et tellus pulvinar imperdiet sed nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non
                   venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
            </div>
            <div class="tabs-panel" id="panel3">
                <p> consectetur adipiscing elit. Linked text styling, sed feugiat est.
                    Phasellus quis ultricies diam, quis commodo lorem. Phasellus quis condimentum justo. Nam tempus ullamcorper mauris.
                    Nullam ultricies, nisi vitae gravida pharetra, eros orci eleifend tellus, eu ornare diam nunc porttitor erat. Nulla facilisi.
                    Mauris sed aliquet ex. Suspendisse potenti. Nullam nec convallis justo. Praesent dictum eros id diam laoreet lacinia.
                    Vestibulum at felis metus. Suspendisse non nulla imperdiet, tempor ipsum vitae, vulputate nulla. </p>
                <p>Etiam nec nunc nec sapien sollicitudin finibus sit amet vel lorem.
                   Donec ultricies, eros imperdiet dapibus iaculis, felis tortor mollis neque, vel blandit erat tortor eget arcu. Mauris mollis sem vel mi pellentesque venenatis. Integer pharetra
                   viverra nibh, vitae scelerisque mauris aliquet sit amet. Curabitur vel ullamcorper est, at dignissim ipsum. Aenean semper convallis nisl, nec faucibus enim aliquet sit amet.
                   Morbi quis sem et tellus pulvinar imperdiet sed nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non
                   venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
            </div>
            <div class="tabs-panel" id="panel4">
                <p> Phasellus quis ultricies diam, quis commodo lorem. Phasellus quis condimentum justo. Nam tempus ullamcorper mauris.
                    Nullam ultricies, nisi vitae gravida pharetra, eros orci eleifend tellus, eu ornare diam nunc porttitor erat. Nulla facilisi.
                    Mauris sed aliquet ex. Suspendisse potenti. Nullam nec convallis justo. Praesent dictum eros id diam laoreet lacinia.
                    Vestibulum at felis metus. Suspendisse non nulla imperdiet, tempor ipsum vitae, vulputate nulla. </p>
                <p>Etiam nec nunc nec sapien sollicitudin finibus sit amet vel lorem.
                   Donec ultricies, eros imperdiet dapibus iaculis, felis tortor mollis neque, vel blandit erat tortor eget arcu. Mauris mollis sem vel mi pellentesque venenatis. Integer pharetra
                   viverra nibh, vitae scelerisque mauris aliquet sit amet. Curabitur vel ullamcorper est, at dignissim ipsum. Aenean semper convallis nisl, nec faucibus enim aliquet sit amet.
                   Morbi quis sem et tellus pulvinar imperdiet sed nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non
                   venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
            </div>
        </div>

    </div>
    <div class="grid-container pad-y-medium">
        <h3>Vertical Tabs</h3>
        <div class="grid-x">
            <div class="cell medium-3">
                <ul class="tabs vertical" data-tabs id="example-tabs-v">
                    <li class="tabs-title is-active"><a href="#panel1-v" aria-selected="true">
                        <strong>Tab One</strong><br><span>Lorem ipsum dolor sit amet</span>
                    </a></li>
                    <li class="tabs-title"><a href="#panel2-v"><strong>Tab Two</strong><br><span>Lorem ipsum dolor sit amet</span></a></li>
                    <li class="tabs-title"><a href="#panel3-v"><strong>Tab Three</strong><br><span>Lorem ipsum dolor sit amet</span></a></li>
                    <li class="tabs-title"><a href="#panel4-v"><strong>Tab Four</strong><br><span>Lorem ipsum dolor sit amet</span></a></li>
                </ul>
            </div>
            <div class="cell medium-9">
                <div class="tabs-content vertical themeMedium" data-tabs-content="example-tabs-v">
                    <div class="tabs-panel is-active" id="panel1-v">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Linked text styling, sed feugiat est.
                           Phasellus quis ultricies diam, quis commodo lorem. Phasellus quis condimentum justo. Nam tempus ullamcorper mauris.
                           Nullam ultricies, nisi vitae gravida pharetra, eros orci eleifend tellus, eu ornare diam nunc porttitor erat. Nulla facilisi.
                           Mauris sed aliquet ex. Suspendisse potenti. Nullam nec convallis justo. Praesent dictum eros id diam laoreet lacinia.
                           Vestibulum at felis metus. Suspendisse non nulla imperdiet, tempor ipsum vitae, vulputate nulla. </p>
                        <p>Etiam nec nunc nec sapien sollicitudin finibus sit amet vel lorem.
                           Donec ultricies, eros imperdiet dapibus iaculis, felis tortor mollis neque, vel blandit erat tortor eget arcu. Mauris mollis sem vel mi pellentesque venenatis. Integer
                           pharetra viverra nibh, vitae scelerisque mauris aliquet sit amet. Curabitur vel ullamcorper est, at dignissim ipsum. Aenean semper convallis nisl, nec faucibus enim aliquet
                           sit amet.
                           Morbi quis sem et tellus pulvinar imperdiet sed nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum
                           non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
                    </div>
                    <div class="tabs-panel" id="panel2-v">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Linked text styling, sed feugiat est.
                           Phasellus quis ultricies diam, quis commodo lorem. Phasellus quis condimentum justo. Nam tempus ullamcorper mauris.
                           Nullam ultricies, nisi vitae gravida pharetra, eros orci eleifend tellus, eu ornare diam nunc porttitor erat. Nulla facilisi.
                           Mauris sed aliquet ex. Suspendisse potenti. Nullam nec convallis justo. Praesent dictum eros id diam laoreet lacinia.
                           Vestibulum at felis metus. Suspendisse non nulla imperdiet, tempor ipsum vitae, vulputate nulla. </p>
                        <p>Etiam nec nunc nec sapien sollicitudin finibus sit amet vel lorem.
                           Donec ultricies, eros imperdiet dapibus iaculis, felis tortor mollis neque, vel blandit erat tortor eget arcu. Mauris mollis sem vel mi pellentesque venenatis. Integer
                           pharetra viverra nibh, vitae scelerisque mauris aliquet sit amet. Curabitur vel ullamcorper est, at dignissim ipsum. Aenean semper convallis nisl, nec faucibus enim aliquet
                           sit amet.
                           Morbi quis sem et tellus pulvinar imperdiet sed nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum
                           non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
                    </div>
                    <div class="tabs-panel" id="panel3-v">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Linked text styling, sed feugiat est.
                           Phasellus quis ultricies diam, quis commodo lorem. Phasellus quis condimentum justo. Nam tempus ullamcorper mauris.
                           Nullam ultricies, nisi vitae gravida pharetra, eros orci eleifend tellus, eu ornare diam nunc porttitor erat. Nulla facilisi.
                           Mauris sed aliquet ex. Suspendisse potenti. Nullam nec convallis justo. Praesent dictum eros id diam laoreet lacinia.
                           Vestibulum at felis metus. Suspendisse non nulla imperdiet, tempor ipsum vitae, vulputate nulla. </p>
                        <p>Etiam nec nunc nec sapien sollicitudin finibus sit amet vel lorem.
                           Donec ultricies, eros imperdiet dapibus iaculis, felis tortor mollis neque, vel blandit erat tortor eget arcu. Mauris mollis sem vel mi pellentesque venenatis. Integer
                           pharetra viverra nibh, vitae scelerisque mauris aliquet sit amet. Curabitur vel ullamcorper est, at dignissim ipsum. Aenean semper convallis nisl, nec faucibus enim aliquet
                           sit amet.
                           Morbi quis sem et tellus pulvinar imperdiet sed nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum
                           non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
                    </div>
                    <div class="tabs-panel" id="panel4-v">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Linked text styling, sed feugiat est.
                           Phasellus quis ultricies diam, quis commodo lorem. Phasellus quis condimentum justo. Nam tempus ullamcorper mauris.
                           Nullam ultricies, nisi vitae gravida pharetra, eros orci eleifend tellus, eu ornare diam nunc porttitor erat. Nulla facilisi.
                           Mauris sed aliquet ex. Suspendisse potenti. Nullam nec convallis justo. Praesent dictum eros id diam laoreet lacinia.
                           Vestibulum at felis metus. Suspendisse non nulla imperdiet, tempor ipsum vitae, vulputate nulla. </p>
                        <p>Etiam nec nunc nec sapien sollicitudin finibus sit amet vel lorem.
                           Donec ultricies, eros imperdiet dapibus iaculis, felis tortor mollis neque, vel blandit erat tortor eget arcu. Mauris mollis sem vel mi pellentesque venenatis. Integer
                           pharetra viverra nibh, vitae scelerisque mauris aliquet sit amet. Curabitur vel ullamcorper est, at dignissim ipsum. Aenean semper convallis nisl, nec faucibus enim aliquet
                           sit amet.
                           Morbi quis sem et tellus pulvinar imperdiet sed nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum
                           non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-container pad-y-medium">
        <h3>Vertical Tabs</h3>
        <div class="grid-x">

            <div class="cell medium-9">
                <div class="tabs-content vertical themeMedium" data-tabs-content="example-tabs-v">
                    <div class="tabs-panel is-active" id="panel1-v">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Linked text styling, sed feugiat est.
                           Phasellus quis ultricies diam, quis commodo lorem. Phasellus quis condimentum justo. Nam tempus ullamcorper mauris.
                           Nullam ultricies, nisi vitae gravida pharetra, eros orci eleifend tellus, eu ornare diam nunc porttitor erat. Nulla facilisi.
                           Mauris sed aliquet ex. Suspendisse potenti. Nullam nec convallis justo. Praesent dictum eros id diam laoreet lacinia.
                           Vestibulum at felis metus. Suspendisse non nulla imperdiet, tempor ipsum vitae, vulputate nulla. </p>
                        <p>Etiam nec nunc nec sapien sollicitudin finibus sit amet vel lorem.
                           Donec ultricies, eros imperdiet dapibus iaculis, felis tortor mollis neque, vel blandit erat tortor eget arcu. Mauris mollis sem vel mi pellentesque venenatis. Integer
                           pharetra viverra nibh, vitae scelerisque mauris aliquet sit amet. Curabitur vel ullamcorper est, at dignissim ipsum. Aenean semper convallis nisl, nec faucibus enim aliquet
                           sit amet.
                           Morbi quis sem et tellus pulvinar imperdiet sed nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum
                           non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
                    </div>
                    <div class="tabs-panel" id="panel2-v">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Linked text styling, sed feugiat est.
                           Phasellus quis ultricies diam, quis commodo lorem. Phasellus quis condimentum justo. Nam tempus ullamcorper mauris.
                           Nullam ultricies, nisi vitae gravida pharetra, eros orci eleifend tellus, eu ornare diam nunc porttitor erat. Nulla facilisi.
                           Mauris sed aliquet ex. Suspendisse potenti. Nullam nec convallis justo. Praesent dictum eros id diam laoreet lacinia.
                           Vestibulum at felis metus. Suspendisse non nulla imperdiet, tempor ipsum vitae, vulputate nulla. </p>
                        <p>Etiam nec nunc nec sapien sollicitudin finibus sit amet vel lorem.
                           Donec ultricies, eros imperdiet dapibus iaculis, felis tortor mollis neque, vel blandit erat tortor eget arcu. Mauris mollis sem vel mi pellentesque venenatis. Integer
                           pharetra viverra nibh, vitae scelerisque mauris aliquet sit amet. Curabitur vel ullamcorper est, at dignissim ipsum. Aenean semper convallis nisl, nec faucibus enim aliquet
                           sit amet.
                           Morbi quis sem et tellus pulvinar imperdiet sed nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum
                           non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
                    </div>
                    <div class="tabs-panel" id="panel3-v">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Linked text styling, sed feugiat est.
                           Phasellus quis ultricies diam, quis commodo lorem. Phasellus quis condimentum justo. Nam tempus ullamcorper mauris.
                           Nullam ultricies, nisi vitae gravida pharetra, eros orci eleifend tellus, eu ornare diam nunc porttitor erat. Nulla facilisi.
                           Mauris sed aliquet ex. Suspendisse potenti. Nullam nec convallis justo. Praesent dictum eros id diam laoreet lacinia.
                           Vestibulum at felis metus. Suspendisse non nulla imperdiet, tempor ipsum vitae, vulputate nulla. </p>
                        <p>Etiam nec nunc nec sapien sollicitudin finibus sit amet vel lorem.
                           Donec ultricies, eros imperdiet dapibus iaculis, felis tortor mollis neque, vel blandit erat tortor eget arcu. Mauris mollis sem vel mi pellentesque venenatis. Integer
                           pharetra viverra nibh, vitae scelerisque mauris aliquet sit amet. Curabitur vel ullamcorper est, at dignissim ipsum. Aenean semper convallis nisl, nec faucibus enim aliquet
                           sit amet.
                           Morbi quis sem et tellus pulvinar imperdiet sed nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum
                           non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
                    </div>
                    <div class="tabs-panel" id="panel4-v">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Linked text styling, sed feugiat est.
                           Phasellus quis ultricies diam, quis commodo lorem. Phasellus quis condimentum justo. Nam tempus ullamcorper mauris.
                           Nullam ultricies, nisi vitae gravida pharetra, eros orci eleifend tellus, eu ornare diam nunc porttitor erat. Nulla facilisi.
                           Mauris sed aliquet ex. Suspendisse potenti. Nullam nec convallis justo. Praesent dictum eros id diam laoreet lacinia.
                           Vestibulum at felis metus. Suspendisse non nulla imperdiet, tempor ipsum vitae, vulputate nulla. </p>
                        <p>Etiam nec nunc nec sapien sollicitudin finibus sit amet vel lorem.
                           Donec ultricies, eros imperdiet dapibus iaculis, felis tortor mollis neque, vel blandit erat tortor eget arcu. Mauris mollis sem vel mi pellentesque venenatis. Integer
                           pharetra viverra nibh, vitae scelerisque mauris aliquet sit amet. Curabitur vel ullamcorper est, at dignissim ipsum. Aenean semper convallis nisl, nec faucibus enim aliquet
                           sit amet.
                           Morbi quis sem et tellus pulvinar imperdiet sed nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum
                           non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
                    </div>
                </div>
            </div>
            <div class="cell medium-3">
                <ul class="tabs vertical" data-tabs id="example-tabs-v">
                    <li class="tabs-title is-active"><a href="#panel1-v" aria-selected="true">
                        <strong>Tab One</strong><br><span>Lorem ipsum dolor sit amet</span>
                    </a></li>
                    <li class="tabs-title"><a href="#panel2-v"><strong>Tab Two</strong><br><span>Lorem ipsum dolor sit amet</span></a></li>
                    <li class="tabs-title"><a href="#panel3-v"><strong>Tab Three</strong><br><span>Lorem ipsum dolor sit amet</span></a></li>
                    <li class="tabs-title"><a href="#panel4-v"><strong>Tab Four</strong><br><span>Lorem ipsum dolor sit amet</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>