<!-- Option that can go to the right of the logo on the main header bar -->
<div class="header-links header-featured-links">
    <ul class="menu">
        <li><a href="{{root}}interior.html" class="">
            <i class="icon af-icon icon-lock"></i>
            <span class="text"><strong>Member Login</strong></span>
        </a></li>
        <li><a href="{{root}}form.html">
            <i class="icon af-icon icon-24-hours-support"></i>
            <span class="text"><strong>Contact Us</strong></span>
        </a></li>
        <li><a href="{{root}}components.html">
            <i class="icon af-icon icon-heart-hand"></i>
            <span class="text"><strong>Donate</strong></span>
        </a></li>
    </ul>
</div>