<div class="header-search-popup dropdown-pane" data-dropdown data-position="bottom" data-alignment="right" data-auto-focus="true" id="header-search-dropdown" >
    <form method="get" action="index.php" style="margin:0;" id="search_box_form"><div style="display:none;"><input type="hidden" name="engine_id" value=""><input type="hidden" name="src" value="search"><input type="hidden" name="search_id" value="site_search"></div><div class="input-group ">
        <input class="input-group-field" type="search" name="search_this" placeholder="Site Search">
        <div class="input-group-button">
            <button type="submit" class="button primary" value="Search"> <span class="show-for-sr">Search Site</span>
                <span aria-hidden="true"><i class="fa fa-search"></i></span>
            </button>
        </div>
    </div>
    </form>
</div>