<div class="header-main-bar">
    <div class="grid-container wide">
        <div class="header-main grid-x">

            <div class="header-logo">
                {{#if general.logo}}
                <a href="{{root}}index.html" class="logo">
                    <img src="{{root}}{{general.logo}}">
                </a>
                {{else}}
                <a href="{{root}}index.html" class="logo demo">
                </a>
                {{/if}}

            </div>
            <div class="header-links">
                <ul class="menu header-level">
                    <li><a href="{{root}}interior.html" class="">
                        <i class="icon icon-lock color large"></i>
                        <span class="text"><strong>Member Login</strong></span>
                    </a></li>
                    <li><a href="{{root}}form.html">
                        <i class="icon icon-24-hours-support"></i>
                        <span class="text"><strong>Contact Us</strong></span>
                    </a></li>
                    <li><a href="{{root}}components.html"><i class="icon icon-heart-hand"></i>
                        <span class="text"><strong>Donate</strong></span>
                    </a></li>
                </ul>
            </div>
            <div class="header-mobile-only-trigger">
                <div class="mobileNav-trigger" data-mobile-nav-trigger="">
                    <div class="mobileNav-hamburger"></div>
                </div>
            </div>

        </div>
    </div>
</div>