<div id="subMenu" class="sideMenu sidebarItem">
    <div class="h4 sideMenu-title">Our Community</div>
    <nav class="sideMenu-nav">
        <ul class="sub_menu vertical menu accordion-menu" data-accordion-menu="">
            <li class="item1 "><a class="first " href="#">Education </a>
                <ul class="menu vertical ">
                    <li class="item1"><a class="first current" href="#">Sub Item 1 </a></li>
                    <li class="item2 "><a class="" href="#">Sub Item 2 </a>
                        <ul class="menu vertical ">
                            <li class="item1"><a class="first last" href="#">Third Level 1 </a></li>
                        </ul>
                    </li>
                    <li class="item3"><a class="last" href="#">Sub Item 3 </a></li>
                </ul>
            </li>
            <li class="item2 "><a class="" href="#">Events </a>
                <ul class="menu vertical ">
                    <li class="item1"><a class="first last" href="#">Ribbon Cutting </a></li>
                </ul>
            </li>
            <li class="item3"><a href="#">Advocacy </a></li>
            <li class="item4"><a href="#">Membership </a></li>
            <li class="item5"><a class="last" href="#">About Us </a></li>
        </ul>
    </nav>
</div>