<nav class="socialMenu">
    <ul class="menu">
        <li><a href="#" class="fab fa-facebook-square facebook" aria-label="facebook" target="_blank"></a></li>
        <li><a href="#" class="fab fa-twitter twitter" aria-label="twitter" target="_blank"></a></li>
        <li><a href="#" class="fab fa-youtube youtube" aria-label="youtube" target="_blank"></a></li>
        <li><a href="#" class="fab fa-linkedin linkedin" aria-label="linkedin" target="_blank"></a></li>
        <li><a href="#" class="fab fa-instagram instagram" aria-label="instagram" target="_blank"></a></li>
        <li><a href="#" class="fab fa-app-store app-store" aria-label="appstore" target="_blank"></a></li>
    </ul>
</nav>