<div class="header-top header-top-bar theme-medium">
    <div class="grid-container wide grid-x">
        <div class="header-left cell medium-6">
<!--            <ul class="menu header-logo-links ">-->
<!--                <li><a href="interior.html" class="header-logo-link"><img src="{{root}}/assets/img/stamfordMicro1.png"></a></li>-->
<!--                <li><a href="components.html" class="header-logo-link" ><img src="{{root}}/assets/img/stamfordMicro2.png"></a></li>-->
<!--                <li><a href="components.html" class="header-logo-link" ><img src="{{root}}/assets/img/stamfordMicro3.png"></a></li>-->
<!--            </ul>-->
        </div>

        <div class="header-links header-right cell medium-6 grid-x">
            <ul class="menu">
                <li><a href="interior.html" class=""><span class="text">
                    About Us</span></a></li>

                <li><a href="components.html" class="">Contact Us</a></li>
            </ul>
            <div class="header-search">
                <button type="button" data-toggle="header-search-dropdown" class="button primary clear"><i class="fa fa-search"></i></button>
            </div>
            {{> header_search_popup}}

        </div>

    </div>
</div>