<div class="retsFilterBar">
  <div class="grid-x grid-padding-x medium-up-2 retsFilterBar-inner">
    <div class="cell retsFilterBar-search-control">
      <a href="#">All Listings</a>
      <span class="divider"></span>
      <a href="javascript:toggleSearchForm();" class="retsFilterBar-advanced-search">Search <span class="fas fa-angle-down"></span></a>
      <a href="#" onClick="resetPropertySearchForm();" class="reset retsFilterBar-reset-search button orange">Reset</a>
      <span class="divider"></span>
      <a href="#" class="printProperties">Print</a>
    </div>
    <div class="cell retsFilterBar-list-map-control">
      <a href="{{root}}rets/property_lister.html" class="propertiesListView active"><span class="fas fa-bars"></span> List</a>
      <a href="{{root}}rets/property_map.html" class="propertiesMapView"><span class="fas fa-map-marker-alt"></span> Map</a>
    </div>
  </div>
</div>